/*website structure*/
.main-container {
	color: rgb(192, 192, 192);
	background-color: #222; 
	border-radius: 10px; 
	padding: 50px; 
	margin-top: 100px;
}

/*blackjack*/
.outline { 
	width: 110px; 
	height: 154px;
	text-align: center; 
	padding: 10px; 
	margin: 10px; 
	background: #FFF;
	float: left;
}

.cardback {
	padding: 2px;
}

.top { 
	height: 30px;
	text-align: left; 
}

.bottom { 
	text-align: right; 
}

.shadow { 
	box-shadow: 1px 1px 3px #000; 
	-moz-box-shadow: 1px 1px 3px #000; 
	-webkit-box-shadow: 1px 1px 3px #000; 
}

.rounded { 
	border-radius:10px; 
	-moz-border-radius:10px; 
	-webkit-border-radius:10px; 
}

.overlay {
	margin-left: -80px;
}

.deckoverlay {
	margin-left: -118px;
}

/*yahtzee*/
.die {
	font-size: 100px;
}

/*go fish*/
.gofish {
	margin-left: -95px;
}

/*todo list*/
.prev-page {
	text-align: right;
}

.next-page {
	text-align: left;
}

.items-per {
	width: 30%;
}

input, textarea {
  outline: none;
}
 
input:focus, textarea:focus {
  box-shadow: 0 0 15px #0F0 !important;
  border: 2px inset #66CC66 !important;
}

form {
	margin-bottom: 0;
}